aniso8601==1.2.1
backports.shutil-get-terminal-size==1.0.0
click==6.7
decorator==4.1.2
enum34==1.1.6
Flask==0.12.2
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.6
ipython==5.4.1
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.13
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.12.2
